/* Sidebar.css */

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    height: calc(100vh - 64px); /* Adjust height to account for the header */
    position: fixed;
    top: 64px; /* Start the sidebar below the header (typically header height is around 64px) */
    left: 0;
    padding-top: 20px;
}

.sidebar-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .MuiList-root {
    padding: 0;
}

.sidebar .MuiListItem-root {
    color: white;
}

.sidebar .MuiListItem-root:hover {
    background-color: #444;
}

.sidebar .MuiListItemIcon-root {
    color: white;
}
